@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
:root{

    --White: #ffffff;
    --whitesmoke: #f0eeee;
    --black: black;
    --darkGray: #232323;
    --lightGray: #626262;
    --my-font: "Gothic A1",sans-serif;
    --orange: orange;
    --navy-blue: #000020;
    --valid: #00ff00;
    --invalid: red;
    --warning: yellow;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--whitesmoke);
    font-family: var(--my-font);
    box-sizing: border-box;
}

.about-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

@media screen and (max-width:600px) {
    .about-section{
        flex-direction: column;
        padding: 20px 0;
        justify-content: center;
    }
}

/* ************************************************************************************* */
                             /* ABOUT */
/* ************************************************************************************* */

.about{
    width: 450px;
    height: auto;
    grid-column: span 1;
    align-self: center;
}

.about h2{
    margin: 20px auto;
}

.about h2 span{
    color: var(--orange);
}

.about .image{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 3px;
}

.about .image img{
    width: 100%;
    height: 100%;
}
.about .info{
    width: 100%;
    padding: 10px;
}

.about .info button{
    font-size: 1.2rem;
    color: whitesmoke;
    padding: 10px 15px;
    background-color: var(--orange);
    border: none;
    margin: 20px auto;
    text-transform: capitalize;
    border-radius: 3px;
}

@media screen and (max-width:600px) {
    .about{
        width: 90vw;
        height: auto;
        grid-column: span 1;
    }

    .about h2{
        margin: 10px auto;
    }

    .about .info p{
        font-size: .9rem;
    }

    .about .info button{
        font-size: 1rem;
        color: whitesmoke;
        padding: 10px 20px;
    }
}

@media (min-width:650px) and (max-width:950px) {
    .about{
        width: 45vw;
        height: auto;
        grid-column: span 1;
        margin-right: 20px;
    }
}


/* ************************************************************************************* */
                             /* ABOUT */
/* ************************************************************************************* */

/* ************************************************************************************* */
                             /* FAQ */
/* ************************************************************************************* */

.faq-cointainer{
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--orange);
    padding: 30px 0px;
    transition: .5s;
    grid-column: span 1;
    border-radius: 5px;
    background: linear-gradient(to top right, orange, #000020, orange);
    color: whitesmoke;
}

.faq-cointainer h2{
    color: var(--orange);
    margin: 20px;
    transition: .3s;
    position: relative;
    text-shadow: 2px 2px 2px #000020,
    2px 2px 2px whitesmoke;
    text-transform: capitalize;
}

.faq-cointainer h2 span{
    color: var(--whitesmoke);
}

.faq-cointainer h2:hover{
    color: whitesmoke;
}

.faq-cointainer .question{
    margin: 10px auto;
    height: 48px;
    text-align: center;
    overflow: hidden;
    transition: 1s;
}

.faq-cointainer .question .quest{
    border-bottom: 1px solid whitesmoke;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding-bottom: 10px;
    margin-top: 10px;
    transition: .3s;
}

.faq-cointainer .question .quest:hover{
    color: var(--orange);
    text-shadow: 2px 2px 2px #000020;
}

.faq-cointainer .question.open{
    height:auto;
}

.faq-cointainer .question.open .quest{
    color: var(--orange);
}

.faq-cointainer .question .quest::after{
    content: "+";
    position: relative;
    right: -10px;
}

.faq-cointainer .question .answ{
    font-size: 1rem;
    padding: 10px 0;
    transition: .5s;
    color: whitesmoke;
}

.faq-cointainer .question .answ a{
    color: blue;
    font-size: 1.1rem;
    text-decoration: underline white;
    font-weight: bold;
    margin: 0 5px;
}

@media screen and (max-width:600px) {

    .faq-cointainer{
        width: 95vw;
        padding: 10px 0px;
        border-radius: 3px;
        margin-top: 5px;
    }

    .faq-cointainer h2{
        margin: 10px;
        font-size: 1rem;
    }

    .faq-cointainer .question .quest{
        font-size: .8rem;
    }

    .faq-cointainer .question .answ{
        padding: 10px 20px;
        text-align: left;
        font-size: .8rem;
    }

    .faq-cointainer .question .answ a{
        color: blue;
        font-size: 1rem;
    }
    
}

@media (min-width:650px) and (max-width:950px) {
    .faq-cointainer{
        width: 50vw;
        padding: 10px 0px;
        border-radius: 3px;
        margin-top: 40px;
    }
}


/* ************************************************************************************* */
                             /* FAQ */
/* ************************************************************************************* */
