@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
:root{

    --White: #ffffff;
    --whitesmoke: #f0eeee;
    --black: black;
    --darkGray: #232323;
    --lightGray: #626262;
    --my-font: "Gothic A1",sans-serif;
    --orange: orange;
    --navy-blue: #000020;
    --valid: #00ff00;
    --invalid: var(--invalid);
    --warning: yellow;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--whitesmoke);
    font-family: var(--my-font);
    box-sizing: border-box;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/background1.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-clip: border-box;
}

.container{
    position: relative;
    top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
}
.container .profile{
    width: 100%;
    height: auto;
    float: right;
    padding: 20px;
}
.container .profile i{
    font-size: 2rem;
    margin: 10px;
    float: right;
    display: none;
}
.container .profile .fa-user-circle{
    color: blue;
}
.container .profile .fa-bell{
    color: var(--warning);
}
.container .profile .fa-power-off{
    color: var(--invalid);
}
.container .profile .welcome{
    color: var(--valid);
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    font-family: var(--my-font);
    text-transform: capitalize;
    text-shadow: 2px 2px .5px var(--navy-blue);
}
.container .status{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0 20px;
    margin-bottom: 40px;
}
.container .status .item{
    height: 80px;
    grid-column: span 1;
    background-color: var(--navy-blue);
    box-shadow: 0 0 5px 2px var(--orange);
    position: relative;
    color: var(--White);
}
.container .status .welcome{
    color: var(--orange);
    background-color: var(--navy-blue);
}
.container .status .welcome span{
    color: var(--valid);
    font-weight: bold;
}
.container .status .item p{
    font-size: 1.5rem;
    text-align: center;
    font-family: var(--my-font);
    margin-top: 10px;
}
.container .status .item ul{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 1.1rem;
    font-family: var(--my-font);
    text-transform: capitalize;
    list-style: none;
}
.container .status .item i{
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 1.3rem;
}
.container .status .active-plan{
    grid-column: span 2;
    height: 100px;
}
.container .status .item h3{
    position: absolute;
    bottom: 10px;
    left: 30px;
    font-size: 1.5rem;
    font-family: var(--my-font);
    text-transform: capitalize;
    display: inline-block;
}
.container .status .item a{
    color: var(--White);
    font-size: 1.3rem;
    font-family: var(--my-font);
    padding: 5px 30px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: var(--orange);
    align-self: center;
    position: relative;
    left: 40%;
    top: 16px;
}
.container .status .fa-circle-dollar-to-slot,.fa-arrow-alt-circle-down{
    color: var(--valid);
}
.container .status .fa-gift,.fa-gifts{
    color: var(--orange);
}
.container .status .fa-arrow-alt-circle-up{
    color: var(--invalid);
}
.container .status .fa-wallet{
    color: blue;
}

/* media query */

@media screen and (max-width:600px) {
    .container{
        top: 80px;
        margin-bottom: 60px;
    }
    .container .profile{
        width: 100vw;
        padding: 10px;
    }
    .container .profile i{
        font-size: 1.1rem;
        margin: 5px;
        display: block;
    }
    .container .profile .welcome{
        font-size: 1.4rem;
    }
    .container .status{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 30px;
    }
    .container .status .item{
        box-shadow: 0 0 5px .5px var(--orange);
    }
    .container .status .item p,ul{
        font-size: 1rem;
    }
    .container .status .item i{
        font-size: 1.1rem;
    }
    .container .status .active-plan{
        grid-column: span 1;
    }
    .container .status .item h3{
        font-size: 1.1rem;
    }
    .container .status .item a{
        font-size: 1rem;
        left: 30%;
        top: 13px;
    }
    
}

@media (min-width:620px) and (max-width:920px) {
    .container{
        top: 140px;
    }
    .container .profile{
        width: 100vw;
        padding: 10px;
    }
    .container .profile i{
        font-size: 2.2rem;
        margin: 5px;
    }
    .container .profile .welcome{
        font-size: 2.2rem;
    }
    .container .status{
        grid-template-columns: 1fr;
        gap: 20px;
        margin-bottom: 40px;
    }
    .container .status .item{
        height: 120px;
    }
    .container .status .item p{
        font-size: 1.8rem;
    }
    .container .status .item ul{
        font-size: 2.2rem;
    }
    .container .status .item i{
        font-size: 2.2rem;
    }
    .container .status .active-plan{
        grid-column: span 1;
    }
    .container .status .item h3{
        font-size: 2rem;
    }
    .container .status .item a{
        font-size: 1.8rem;
        left: 35%;
        top: 18px;
    }
    
}