@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
:root{

    --White: #ffffff;
    --whitesmoke: #f0eeee;
    --black: black;
    --darkGray: #232323;
    --lightGray: #626262;
    --my-font: "Gothic A1",sans-serif;
    --orange: orange;
    --navy-blue: #000020;
    --valid: #00ff00;
    --invalid: red;
    --warning: yellow;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--whitesmoke);
    font-family: var(--my-font);
    box-sizing: border-box;
}

footer{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    background-image: url(../images/bitcoin2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
footer .image-blur{
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    backdrop-filter: blur(3px);
}

footer .text{
    width: 320px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--whitesmoke);
    text-shadow: 1px 1px 2px black;
    position: absolute;
    top: 40px;
    left: 100px;
}
footer .text .tittle{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
footer .text .tittle i{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    color: var(--orange);
}
footer #name{
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 10px;
}
footer .text .tittle h3{
    text-transform: uppercase;
}
footer .text .tittle p{
    color: var(--orange);
    text-shadow: 1px 1px 2px var(--White),
    1px 1px 2px black;
    line-height: normal;
}
footer .text p{
    font-size: .9rem;
    text-shadow: 1px 1px 2px black;
    line-height: 20px;
    color: var(--White);
}
footer form{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
footer form input{
    width: 83%;
    height: 100%;
    margin-right: 2%;
    color: var(--White);
    padding-left: 10px;
    background: transparent;
    outline: none;
    border: 1px solid silver;
}
footer form ::placeholder{
    color: var(--White);
}
footer form a{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--orange);
}
footer form a i{
    font-size: 2rem;
    color: var(--White);
}
footer .intouch{
    position: absolute;
    top: 60px;
    left: 500px;
    color: white;
    display: flex;
    flex-direction: column;
}
footer .intouch h3{
    text-transform: uppercase;
}
footer .intouch i{
    margin: 10px 0;
    color: var(--orange);
}
footer .intouch i:has(p){
    display: inline-flex;
    margin-bottom: 10px;
}
footer .intouch i p{
    font-size: .6rem;
    margin-top: 5px;
    margin-left: 10px;
    color: var(--White);
}
footer .intouch ul{
    list-style: none;
    margin-left: 35px;
    font-size: .7rem;
    line-height: 20px;
}
footer .intouch .media{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
footer .intouch .media i{
    font-size: 2.5rem;
}
footer .intouch .media :nth-child(1){
    color: var(--valid);
    border-radius: 5px;
}
footer .intouch .media :nth-child(2){
    color: var(--invalid);
    background-blend-mode: multiply;
    border-radius: 5px;
}
footer .intouch .media :nth-child(3){
    color: rgb(80, 168, 250);
}

@media (max-width:600px) {
    footer{
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }
    footer .text{
        width: 95vw;
        height: auto;
        display: flex;
        top: 10px;
        left: 10px;
    }
    footer .text .tittle{
        margin-bottom: 0px;
    }
    footer .text .tittle i{
        font-size: 2.5rem;
    }
    footer form{
        margin-top: 10px;
    }
    footer .intouch{
        top: 350px;
        left: 10px;
    }
    footer .intouch .media{
        width: 40%;
        margin-bottom: 5px;
    }
    footer .intouch .media i{
        font-size: 1.5rem;
    }
    footer .intouch p{
        font-size: .8rem;
        text-shadow: 1px 1px 1px var(--navy-blue);
    }
    footer .intouch i{
        margin: 5px 0;
    }
    footer .intouch i:has(p){
        margin-bottom: 0px;
    }
    footer .intouch ul{
        color: var(--valid);
        text-shadow: .5px .5px 1px var(--White);
    }
}