section .why-us .features{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}

section .why-us .features .feature{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: none;
    padding: 20px;
    text-align: left;
    transition: .5s;
}

section .why-us .features .feature i{
    font-size: 3.5rem;
    color: orange;
    background: transparent;
}

@media screen and (max-width:600px) {
    section .why-us .features{
        grid-template-columns: 1fr;
        gap: 0px;
    }
}

@media (min-width:610px) and (max-width:800px) {
    section .why-us .features{
        grid-template-columns: 1fr 1fr;
        gap: 0px;
    }
}
